services:
  backend:
    build:
      context: ./backend
    container_name: backend
    command: uvicorn App.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/dockerbackend

    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: 
      context: ./frontend
    container_name: frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/dockerfrontend
      - /dockerfrontend/node_modules
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "Ayush123"
      POSTGRES_DB: "todolist"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: