.hp h1{
    font-family: Impact;
    font-size: 69px;
    color: #F5B700;
    text-shadow: white;
}

.hp button{
    font-family: Impact;
    font: 49px;
    background: #DC0073;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 4px;
    transition: background-color 0.3s ease;
    padding: 16px;
    margin-left: 9px;
    margin-right: 9px;
}

.hp button:hover {
  background-color: #04E762;
}
